html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif       ;
}

body {
    min-height: 500px;
    background-image: url('imagens/fundo.png');
    background-size: 2200px ;
    background-position: center;
    padding-top:10px;
    
}

body a:link {
    color: #ffffff;
}

body a:visited {
    color: #ffffff;
}

body a:hover {
    color: #00bfff;
}

body a:active {
    color: #ffffff;
}   


ol {
    font-weight: bold;
}

ul li {
    margin: 5px;
    
}

.pretendo-jogar{
    font-weight: bold;
    margin:5px;
}

label {
    font-weight: bold;
    margin-top: 5px;
    display: flex;
    padding: 5px;
    gap:5px;
}   


.tabela{
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    border-collapse: collapse;

}

.tabela td, th {
    border: 1px black solid;
    padding: 4px;
}

.conteudo {
    color: #ffffff;
    padding: 20px;
    padding-top: 10px;
    background-color: rgba(190, 190, 190, 0.28);
    max-width: 800px;
    margin: 0 auto;
}

.bloco-perfil {
    text-align: left;
}



.perfil {
    font-size: 40px;
    image-rendering: auto;
    display: flex;
    gap: 20px;
    margin-bottom: 0;
    background-color: rgba(60, 60, 60, 0.5);

}

.imagem {
    width: 200px;
    border-radius: 20%;
}


.bloco-projetos {
    background-color: rgba(60, 60, 60, 0.5);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}


.projeto {
    background-color: rgba(87, 86, 86, 0.678);
    text-align: left;
    image-rendering: auto;
    display: flex;
    gap: 20px;
    padding-bottom: 5px;
    margin-bottom:  20px;
}

.projeto img {
    width:  100px;
    border-radius: 20%;
    padding: 10px;
    margin-right: 0;
    
}

.projeto-jogo {
    
    position: relative;
    flex-grow: 1;
}

.projeto-jogo p {
    position: absolute;
    font-size: 15px;
    top: 20px;
    left: 100px;
}

.projeto-jogo h3 {
    font-size: 20px;
    margin-left: -15px;
    margin-top: 10px;
}

.projeto-jogo h4 {
    position: absolute;
    left: -15px;
    top: 70px;
    margin: 0;
}

.projeto-jogo h5 {
    position: absolute;
    left: -15px;
    top: 95px;
    margin: 0;
}

.menu {
    background-color: rgba(71, 71, 71, 0.24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    display: flex;
    gap:20px;
    justify-content: center;


}



.lista-de-jogos {
    color: #ffffff;
    padding: 20px; 
    max-width: 800px;

}

.jogos-recomendados {
    background-color: rgb(226, 204, 163);
    padding: 10px; 
    flex: 1; 
    min-height: 200px;
    border-radius: 8px;

}

.container-principal {
    display: flex;
    gap:20px;
}

#formulario {
    flex: 2;
    padding: 15px;
}

.footer {
    color:whitesmoke;
    position: relative;
    text-align: center;
    top:300px
}


