html, body {
    background-position: center center;
    background: #1E1B4B;
}

.conteudo {
    color: #1F2937;
    padding: 20px;
    padding-top: 10px;
    background-color: #FFFFFF;
    max-width: 70%;
    margin: 0 auto;
}

.perfilRafael {
    
}