html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif       ;
}

body {
    background-image: url('LucasV/foii.png');
    background-position: center center;
    background-size: ;
    
}


.voltar--menu img {
    position: fixed;  /* Fixa o elemento na tela */
    bottom: 35px;     /* Distância de 20px do fundo */
    right: 20px;      /* Distância de 20px da direita */
    height: 65px;     /*tamanho*/
    width: auto;
    gap: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;

}

.voltar--menu :hover{
    transform: scale(1.3);
}

.equipe img{
    position: fixed;
    bottom: 110px;
    right: 20px;
    height: 70px;
    width: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;
}

.equipe :hover{
    transform: scale(1.3);
}

.portfolio img{
    position: fixed;
    bottom: 190px;
    right: 20px;
    height: 70px;
    width: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;
}

.portfolio :hover{
    transform: scale(1.3);
}

.contato img{
    position: fixed;
    bottom: 270px;
    right: 20px;
    height: 70px;
    width: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;
}

.contato :hover{
    transform: scale(1.3);
}


ol {
    font-weight: bold;
}

ul li {
    margin: 5px;
    
}


label {
    font-weight: bold;
    margin-top: 5px;
    display: flex;
    padding: 5px;
    gap:5px;
}



.tabela{
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    border-collapse: collapse;

}

.tabela td, th {
    border: 1px rgb(255, 255, 255) solid;
    padding: 4px;
}

.conteudo {
    color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    max-width: 800px;
    margin: 0 auto;
}

.bloco-perfil {
    text-align: left;
    text-align: center;
    font-size: 25px;
}



.perfil {
    font-size: 50px;
    image-rendering: auto;
    display: flex;
    gap: 20px;
    margin-bottom: 0;
    justify-content: center;
    margin: 20px auto;
    padding: 15px;

}

.imagem {
    width: 250px;
    border-radius: 100%;
    display: block;
    text-align: center;
}


.menu {
    background-color: rgba(255, 255, 255, 0.79);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
   /* position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 100; */
    display: flex;
    gap:20px;
    justify-content: center;


}

.menu a:link {
    color:purple;
}

.menu a:hover {
    color:rgb(255, 255, 255);
}

.menu a:active {
    color: purple;
}

.container-principal {
    display: flex;
    gap:20px;
}

#formulario {
    flex: 2;
    padding: 15px;
}
 
.Instagram img{
    position: relative;
    left: 350px;
    
}

