html, body {
    background-position: center center;
    background: #f4ecd8;
    margin: 0;
    padding: 0;
}

.topo {
    color: #1F2937;
    padding: 20px;
    padding-top: 10px;
    background-color: #FAD2A2;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: #000 1px solid;
}

.topoNome {
    text-align: center;
}
.topoNome table{
    margin: 0 auto;
}

.topoNome table tr td{
    padding: 4px;
    
}

.topoNome button {
    font-family: fantasy;
    font-size: 17px;
    color: black;
    background-color: transparent;
    border: 3px solid transparent;
    transition: background-color 0.3s ease;
}
.topoNome button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    border-radius: 15%;
}