html, body {
    background-image: url(imagens/fundo.png);
    font-family: 'Gill Sans','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif       ;
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
    color: #ffffff;

}

body a:link {
    color:rgb(7, 141, 168);
}

body a:visited {
    color:rgb(7, 141, 168);
}

body a:hover {
    color:rgb(0, 0, 0);
}

body a:active {
    color: rgb(97, 214, 238);
}

.logo {
    font-size: large;
    background-color: rgba(245, 222, 179, 0);
}

.logo table, tr, td {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
    border-collapse: separate;
}


.logo button {
    font-family: fantasy;
    font-size: 70%;
    color: white;
    background-color: #ffffff00;
    border: 2px solid rgba(245, 245, 245, 0);
    transition: background-color 0.3s ease;
}

.logo button:hover {
    background-color: rgba(255, 255, 255, 0.271);
    cursor:pointer;
    border-radius: 25%;
    
}



.logo table img {
    height: 95px;
    width: auto;
}
.logo nav img {
    height: 250px;
    width: auto;
}


.contato-formulario {
    justify-content: center;
    align-items: center;
}

.portifolio {
    background-color: rgba(190, 190, 190, 0.278);
    padding: 10px;
    padding-bottom:20px;
}

.produto {
    background-color: #7c7c7c7c;
    text-align: left;
    image-rendering: auto;
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
    margin-bottom:  20px;
}

.produto img {
    width:  100px;
    border-radius: 20%;
    padding: 10px;
    margin-right: 0;
    
}

.info-produto {
    position: relative;
    flex-grow: 1;
}

.info-produto p {
    position: absolute;
    font-size: 15px;
    top: 20px;
    left: 100px;
    margin:40px;
    max-width: 50%;
}

.info-produto h3 {
    font-size: 20px;
    margin-left: -15px;
    margin-top: 20px;
}

.info-produto h4 {
    position: absolute;
    left: -15px;
    top: 100px;
    margin: 0;
}

.equipe {
    image-rendering: auto;
    display: flex;
    padding: 10px;
    background-color: rgb(190, 190, 190, 0.278);
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
}

.equipe a:link {
    color:rgb(0, 213, 255);
}

.equipe a:visited {
    color:rgb(0, 213, 255);
}

.equipe a:hover {
    color:rgb(255, 255, 255);
}

.equipe a:active {
    color: black;
}

.equipe h3 {
    margin:0;
}

.equipe img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;

}

.perfil{
    text-align: center;
    margin: 10px;
    padding: 10px;
}



.contato{
    font-size: large;
}

.voltar-ao-topo {
    float: left;
    margin-left:1%;
    
}

.voltar-ao-topo img {
    height: 50px;
}