html, body {
    background-position: center center;
    background: #7592A5;
}

.conteudo {
    color: #7A4342;
    padding: 20px;
    padding-top: 10px;
    background-color: #7A7A42;
    max-width: 70%;
    margin: 0 auto;
}

.perfilRafael {
    
}