html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif       ;
    height: 100%;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 500px;
    background-image: url('../imagens/fundo08.png');
    background-size: 2200px ;
    background-position: center;
    padding-top:10px;
    
}

body a:link {
    color: #ffffff;
}

body a:visited {
    color: #ffffff;
}

body a:hover {
    color: #00bfff;
}

body a:active {
    color: #ffffff;
}   

label {
    font-weight: bold;
    margin-top: 5px;
    display: flex;
    padding: 5px;
    gap:5px;
}   


a {
    text-decoration: none;
}

.tabela{
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    border-collapse: collapse;

}

.tabela td, th {
    border: 1px #00bfff solid;
    padding: 4px;
}

.conteudo {
    color: #ffffff;
    padding: 20px;
    padding-top: 10px;
    background-color: rgba(190, 190, 190, 0.28);
    max-width: 800px;
    margin: 0 auto;
}

.bloco-perfil {
    text-align: left;
}

.redes {
    
    display: flex;
    margin: 0 auto;
    padding: 5px;
    
}

.redes img {
    padding-top: 20px;
    margin-inline: 10px;
    height: 40px;
}

.perfil {
    font-size: 40px;
    image-rendering: auto;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    background-color: rgba(60, 60, 60, 0.5);

}

.imagem {
    width: 200px;
    border-radius: 20%;
}

.bloco-projetos-grid {
    padding: 10px;
    background-color: rgba(60, 60, 60, 0.5);
    display: flex;
    max-width: 800px;
    margin:0 auto;
    
}

.projeto-grid {
    transition: transform 0.3s ease;
    padding: 10px;
    background-color: rgba(87, 86, 86, 0.678);
    flex: 1 1 200px;
    margin: 10px;
}

.projeto-grid:hover {
    transform: scale(1.05);
}



.bloco-projetos {
    background-color: rgba(60, 60, 60, 0.5);
    padding: 15px;
    text-align: center;
    
}


.projeto a {
    background-color: rgba(87, 86, 86, 0.678);
    image-rendering: auto;
    display: flex;
    align-items: stretch;
    gap: 20px;
    transition: transform 0.3s ease;
    
}

.projeto img {
    height:  100px;
    padding: 10px;
    margin-right: 0;
    object-fit: cover;
    flex-shrink: 0;
}

.projeto a:hover {
    transform: scale(1.02);
    
}

.info-produto {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.menu {
    background-color: rgba(71, 71, 71, 0.24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    display: flex;
    gap:20px;
    justify-content: center;


}


.footer {
    color:whitesmoke;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

#footer-detalhes {
    color:whitesmoke;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 40%;
}

.contato img {
    position: fixed;  /* Fixa o elemento na tela */
    bottom: 35px;     /* Distância de 20px do fundo */
    right: 20px;      /* Distância de 20px da direita */
    height: 65px;     /*tamanho*/
    width: auto;
    gap: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;

}

.contato :hover{
    transform: scale(1.3);
}

.equipe__ img{
    position: fixed;
    bottom: 110px;
    right: 20px;
    height: 70px;
    width: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;
}

.equipe__ :hover{
    transform: scale(1.3);
}

.portfolio img{
    position: fixed;
    bottom: 190px;
    right: 20px;
    height: 70px;
    width: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;
}

.portfolio :hover{
    transform: scale(1.3);
}   

.voltar--menu img{
    position: fixed;
    bottom: 270px;
    right: 20px;
    height: 70px;
    width: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;
}

.voltar--menu :hover{
    transform: scale(1.3);
}



